<div class="homepage">
    <!-- <img class="homepage__cover" src="../../assets/images/banner.png"> -->
    <div class="homepage__text">
		<div class="homepage__text-heading">Effortless cab sharing !</div>
		<div class="homepage__text-description">
			Just select the employees looking for a cab and get the grouped employees based on their destinanation. 
		</div>
		<div class="homepage__text-description">
			Assigning cab now at you fingertips !

		</div>
		<div class="homepage__text-buttons">
			<button routerLink="/employee" type="button" class="homepage__text-buttons-employee homepage-button">
				Add an employee
				<!-- <img
					class="homepage__text-buttons-donate-icon"
					alt="donate"
					src="../../assets/icons/homepage/gift.svg"
				/> -->
			</button>
			<button routerLink="/assign-cab" type="button" class="homepage__text-buttons-cab homepage-button">
				Assign a cab
				<!-- <img
					class="homepage__text-buttons-grab-icon"
					alt="grab"
					src="../../assets/icons/homepage/dish.svg"
				/> -->
			</button>
		</div>
	</div>
	<div class="homepage__login">
        <div class="homepage__login-header">
            LOGIN
        </div>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button routerLink="/receive-food" type="button" class="homepage__login-submit homepage-button">Submit</button>
          </form>
	</div>
</div>