<div class="employee">
    <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact number</th>
            <th scope="col">Designation</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">720</th>
            <td>Himanshu</td>
            <td>himanshu.h&#64;chubb.com</td>
            <td>8456095076</td>
            <td>Senior Software Developer</td>
            <td>Stanza Living, P Janardhan Reddy Nagar, Gachhibowli</td>
          </tr>
          <tr>
            <th scope="row">550</th>
            <td>Mohan Jinaga</td>
            <td>mohan.jinaga&#64;chubb.com</td>
            <td>9999999888</td>
            <td>Technical Lead</td>
            <td>Smondo Gachibowli</td>
          </tr>
          <tr>
            <th scope="row">1550</th>
            <td>Abhishek Saprey</td>
            <td>abhishek.saprey&#64;chubb.com</td>
            <td>9984292449</td>
            <td>Software Developer</td>
            <td>Botanical Garden, Kondapur</td>
          </tr>
        </tbody>
      </table>
</div>