<div class="nav-bar">
  <header class="nav-bar__header">
    <a class="nav-bar__logo" href="#">
      <img class="nav-bar__logo-icon" src="../../assets/icons/logo.png" />
      <span>Cab Compass</span>
    </a>
    <nav>
      <ul class="nav-bar__links">
        <li class="nav-bar__link"><a routerLink="/employee">Employee</a></li>
        <li class="nav-bar__link"><a href="#">Cabs</a></li>
        <li class="nav-bar__link"><a href="#">Assign Cab</a></li>
        <li class="nav-bar__link"><a href="#">About</a></li>
      </ul>
    </nav>
    <a class="nav-bar__buttons" href="#"><button class="nav-bar__contact">How it works?</button></a>
  </header>
</div>
