.employee {
  padding: 10px 10%;
  margin-top: 50px;

  &__details {
    &-filters {
      margin-bottom: 50px;

      &-input-row {
        display: flex;
        justify-content: space-between;

        .form-control {
          background-color: rgb(37, 37, 37);
          color: white;
        }

        .input-group {
          &-text {
            font-weight: bold;
            background-color: rgb(181, 181, 34);
          }
        }

        .input-group:first-child {
          margin-right: 60px;
        }
      }

      &-button {
        margin: 20px 0;
        button {
          width: 15%;
          padding: 10px;
        }
      }
    }
  }
}
