<div class="nav-bar">
  <header class="nav-bar__header">
    <a class="nav-bar__logo" href="#">
      <img class="nav-bar__logo-icon" src="../../assets/icons/logo.png" />
      <span>Cab Compass</span>
    </a>
    <nav>
      <ul class="nav-bar__links">
        <li class="nav-bar__link" [class.active]="isActive('/employee')"><a routerLink="/employee">Employee</a></li>
        <li class="nav-bar__link" [class.active]="isActive('/assign-cab')"><a routerLink="/assign-cab">Assign Cab</a></li>
        <li class="nav-bar__link" [class.active]="isActive('/cab')"><a routerLink="/cab">Cabs</a></li>
        <li class="nav-bar__link" [class.active]="isActive('/assigned-cabs')"><a routerLink="/assigned-cabs">Assigned Cabs</a></li>
      </ul>
    </nav>
    <a class="nav-bar__buttons" href="#"><button class="nav-bar__contact">How it works?</button></a>
  </header>
</div>
