@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.nav-bar {

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10% 0 10%;
  }

  &__logo {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 26px;
    color: azure;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  &__logo-icon {
    height: 60px;
    padding: 0 10px;
  }

  &__links {
    list-style: none;
  }

  &__link {
    display: inline-block;
    padding: 0 20px;

    a {
      transition: all 0.3s ease 0s;
      color: rgb(231, 231, 231);
      text-decoration: none;
    }

    a:hover {
      color: rgb(0, 161, 54);
    }
  }

  &__contact {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    background-color: rgb(2, 126, 43);
  }

  &__contact:hover {
    background-color: rgb(0, 161, 54);
  }

  &__link,
  &__buttons,
  &__contact {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

}
